
.helyx-header-secret
{
    border-bottom: 4px solid #000000;
    background: linear-gradient(rgb(100, 100, 100),rgb(24, 24, 24));
}

.window-content .helyx-content div.helyx-block-section-secret
{
    border: 4px solid #000000;
    background: #f8f8eb    
}

.helyx-header-balance
{
    border-bottom: 4px solid #000000;
    background: linear-gradient(rgb(100, 100, 100),rgb(0, 161, 108));
}

.helyx-header-blue-rune
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-blue-rune
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.window-content .helyx-content div.helyx-block-section-balance
{
    border: 4px solid #000000;
    background: #f8f8eb    
}

.helyx-header-camp
{
    border-bottom: 4px solid #026939;
    background: linear-gradient(130deg,#0c2d4a 0,#238356 40%,#238356 60%,#1ddd17 100%);
}

.window-content .helyx-content div.helyx-block-section-camp
{
    border: 4px solid #026939;
    background: #f8f8eb    
}

.helyx-header-treasure
{
    border-bottom: 4px solid #026939;
    background: linear-gradient(130deg,#0c2d4a 0,#238356 40%,#238356 60%,#1ddd17 100%);
}

.window-content .helyx-content div.helyx-block-section-treasure
{
    border: 4px solid #026939;
    background: #f8f8eb    
}

.helyx-header-encounter
{
    border-bottom: 4px solid #5d0000;
    background: linear-gradient(25deg,#671818 0,#c41e1e 40%,#c01c1c 60%,#8a0303 100%);
}

.window-content .helyx-content div.helyx-block-section-encounter
{
    border: 4px solid #5d0000;
    background: #f8f8eb    
}

.helyx-header-danger
{
    border-bottom: 4px solid #5d0000;
    background: linear-gradient(25deg,#671818 0,#c41e1e 40%,#c01c1c 60%,#8a0303 100%);
}

.window-content .helyx-content div.helyx-block-section-danger
{
    border: 4px solid #5d0000;
    background: #f8f8eb    
}

.helyx-header-hazard
{
    border-bottom: 4px solid #5d0000;
    background: linear-gradient(25deg,#671818 0,#c41e1e 40%,#c01c1c 60%,#8a0303 100%);
}

.window-content .helyx-content div.helyx-block-section-hazard
{
    border: 4px solid #5d0000;
    background: #f8f8eb    
}

.helyx-header-map
{
    border-bottom: 4px solid #22180f;
    background: linear-gradient( #b2845d,#352517);
}

.window-content .helyx-content div.helyx-block-section-map
{
    border: 4px solid #22180f;
    background: #f8f8eb    
}

.helyx-header-anvil
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-anvil
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}


.helyx-header-success
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-success
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.helyx-header-failure
{
    border-bottom: 4px solid #5d0000;
    background: linear-gradient(25deg,#671818 0,#c41e1e 40%,#c01c1c 60%,#8a0303 100%);
}

.window-content .helyx-content div.helyx-block-section-failure
{
    border: 4px solid #5d0000;
    background: #f8f8eb    
}

.helyx-header-bylevel
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-bylevel
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.helyx-header-dices
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-dices
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.helyx-header-peace
{
    border-bottom: 4px solid rgb(0, 151, 43);
    background: linear-gradient( #76ff31,rgb(239, 255, 61));
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.window-content .helyx-content div.helyx-block-section-peace
{
    border: 4px solid rgb(0, 151, 43);
    background: #f8f8eb    
}

.helyx-header-question
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-question
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.helyx-header-character
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-character
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.helyx-header-clock
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-clock
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.helyx-header-development
{
    border-bottom: 4px solid rgb(0, 88, 151);
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-development
{
    border: 4px solid rgb(0, 88, 151);
    background: #f8f8eb    
}

.helyx-header-search
{
    border-bottom: 4px solid #22180f;
    background: linear-gradient( #b2845d,#352517);
}

.window-content .helyx-content div.helyx-block-section-search
{
    border: 4px solid #22180f;
    background: #f8f8eb    
}

.helyx-header-candle
{
    border-bottom: 4px solid rgb(151, 103, 0);
    background: linear-gradient( #ffd102,black);
}

.window-content .helyx-content div.helyx-block-section-candle
{
    border: 4px solid rgb(151, 103, 0);
    background: #f8f8eb    
}

.helyx-header-npc
{
    border-bottom: 4px solid #026939;
    background: linear-gradient(130deg,#0c2d4a 0,#238356 40%,#238356 60%,#1ddd17 100%);
}

.window-content .helyx-content div.helyx-block-section-npc
{
    border: 4px solid #026939;
    background: #f8f8eb    
}

.helyx-header-poi
{
    border-bottom: 4px solid #026939;
    background: linear-gradient(130deg,#0c2d4a 0,#238356 40%,#238356 60%,#1ddd17 100%);
}

.window-content .helyx-content div.helyx-block-section-poi
{
    border: 4px solid #026939;
    background: #f8f8eb    
}





.helyx-header-darkness
{
    border-bottom: 4px solid #000000;
    background: linear-gradient(rgb(100, 100, 100),rgb(24, 24, 24));
}

form .editor-content .helyx-content div.helyx-block-section-darkness
{
    border: 4px solid #000000;
    background: #f8f8eb    
}

.window-content .helyx-content div.helyx-block-section-skill-arcana
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-arcana
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-computer
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-computer
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-crafting
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-crafting
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-culture
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-culture
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-diplomacy
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-diplomacy
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-intimidation
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-intimidation
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-life-science
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-life-science
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-perception
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-perception
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-skill-performance
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-skill-performance
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-starship
{
    border: 4px solid #14428c;
    background: #f8f8eb    
}

.helyx-header-starship
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);
}

.window-content .helyx-content div.helyx-block-section-streamed
{
    border: 4px solid #14428c;
    background: #36A4DD;
    font-family: "Orbitron";
}

.helyx-header-streamed
{
    border-bottom: 4px solid #14428c;
    background: linear-gradient(130deg,#0c2d4a 0,#235683 40%,#235683 60%,#1d7dd1 100%);

}

.window-content .helyx-content .helyx-header-streamed .helyx-block-section-body .helyx-block-p 
{
    font-family: "Orbitron";
}
