 <div>
    <p><b>How are you related to Paizo ?</b></p>
    <p>I'm not.</p>
 </div>

 <hr/>

 <div>
    <p><b>
        I found an issue. How do I report it?
    </p></b>

    <p>You can :
        <ul>
            <li>Report the issue by creating an entry on the project's web page: <a href="https://github.com/deidril/sfrpg-pdf-en-import/issues">https://github.com/deidril/sfrpg-pdf-en-import/issues</a> .</li>
            <li>Send a message to Deidril#2009 on Discord.</li>
            <li>Post a message on the module's Discord: <a href="https://discord.gg/XryTbnxWVq">https://discord.gg/XryTbnxWVq</a></li>
            <li>Use a Feather Token</li>
        </ul>
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Which pdfs will be imported ?
    </b></p>

    <p>
        Most likely stand alone adventures i already ran a long time ago and would like to run again with Foundry.
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Can you or will you make an import for <i>Dead Suns</i>  or any 6 books adventure path ?
    </b></p>

    <p>
            It's not a short term plan. I don't have any Starfinder campaign as pdfs. That would be 
            20$ x 6 for the AP books, plus 10$ for the HQ maps, plus 10$ for the pawns = 140$ per campaign.
    </p>
    <p>
            There are 24 campaigns...
    </p>
</div>

<hr/>

<div>
    <p><b>Why not set up a Patreon or similar platform if you're missing the PDFs?</b></p>
    <p>
       If you would like to support free software like this module or help me purchase new PDFs, you can do so via my Patreon page at: <a href="https://www.patreon.com/deidril">https://www.patreon.com/deidril</a> .        
    </p>
</div>

<hr/>

<div>
    <p><b>If you're missing the PDFs, why not use versions found on the web?</b></p>
    <p>
        Firstly, they are pirated PDFs, and I will not use them. 
    </p>
    <p>    
         Secondly, my module imports content using its position (I refer to this as its "index") in the PDF file.
        As a result, any official PDFs would not work because the text and images would be at different positions. 
    </p>

    <p>
        For example, if you edit an official PDF to change a single letter and then save it, 
        there is a chance that you will use a different PDF software version than the one used for the original version. 
        Your indexes will be different, and the import will fail. 
        This means that if Paizo updates a supported PDF, there is a chance that the import 
        will fail with the updated version.
    
        So, <b>keep your original PDFs if you want to be able to import them, until you are notified that the 
            module supports the new PDFs.</b>
    </p>
</div>

<hr/>

<div>
    <p><b>
        Is there any way to speed up the import process? How can I help and can I make an import myself?
    </b></p>

    <p>
        Making an import is a multi-step process that requires knowledge of the JavaScript programming language 
        and an understanding of the internal structure of a PDF. 
        It is also a software that must be learned on its own. 
        Creating graphical user interfaces for all the steps, writing documentation, creating tutorial videos,
         and answering questions would be a full-time job. Although everyone can help by creating high-quality map modules, 
         only a few people do so because they lack time or knowledge. 
         I believe that setting up an available software to configure the import of a given PDF would not result 
         in more imports to the community because the time and technical knowledge required is greater than 
         what is needed to create map modules or compendiums of magic items for these pdfs.
    </p>
</div>

<div>
    <p><b>
        Why is your module's javascript code encrypted  or so ?
    </b></p>

    <p>It's called <i><b>obfuscation</i></b>. It is a request from <i><b>Foundry</i></b> so it's not easy to 
        remove the check of the PDF watermarks.
    </p>
</div>
