<section class="helyx-content">
<p>This module accepts only PDF files from PAIZO, and with their watermarks.
Anonymized PDFs will not be imported</p>
<hr>
<p><b>Adventures</b></p>
<ul>
    <li>Junker's Delight</li>    
</ul>

<p><b>Core books</b></p>
<ul>
    <li>Alien Archive 1 (artworks only)</li>
    <li>Alien Archive 2 (artworks only)</li>
</ul>

<p><b>One Shots</b></p>
<ul>
    <li>System Takedown</li>    
</ul>

<p><b>Starfinder Society</b></p>
<ul>
    <li>SFS1E02 : Fugitive on the Red Planet</li>    
</ul>


</section>