

.helyx-statblock
{
    padding-top: 10px;
}

.helyx-statblock .helyx-action-details
{
    padding-top: 10px;
    border-left: var(--primary) 4px dotted;
    margin-left: 25px;
    padding-left: 0;
    padding-bottom: 10px;
}

.helyx-content .helyx-statblock .helyx-action-details p.helyx-p
{
    text-indent: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 0px;
}


.window-content .helyx-content .helyx-stat-block-section-title
{
    color: white;
    border-top: 2px solid  black;
    border-bottom: 2px solid  black;
    text-transform: uppercase;
    background: linear-gradient(25deg,#671818 0,#c41e1e 40%,#c01c1c 60%,#8a0303 100%);
    text-indent: 15px;
    letter-spacing: 2px;
}

.window-content .helyx-content .statblock .helyx-p
{
    padding-left: 15px;
    color: black;
}

.window-content .helyx-content .statblock .stat-description .helyx-p
{
    text-indent: 15px;
    padding-left: 0px;
}
